{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["Flutter-Generated.xcconfig", "xcconfig", "configuration", "Flutter"], "state": 2, "file_id": 93, "knowledge_revision": 228, "git_revision": "", "hash": "7e5a93f3af0f5c409710a8d6c1308b6f", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"228": ""}]}