{"is_source_file": true, "file_id": 80, "git_revision": "0c2bda1c15a528303e5f8be32f11356a853b75a2", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "0a7555f820f3e4371d88ec1c339d70ef", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Runner/Configs/Debug.xcconfig", "knowledge_revision": 85}