{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 96, "knowledge_revision": 230, "git_revision": "0c2bda1c15a528303e5f8be32f11356a853b75a2", "hash": "2b03faed3e462ed0ed348559e4796ed8", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Flutter/Flutter-Release.xcconfig", "revision_history": [{"230": "0c2bda1c15a528303e5f8be32f11356a853b75a2"}]}