{"is_source_file": true, "file_id": 31, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "4038e307df0ccea89fdc18f24e8826e8", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/ios/Runner/Info.plist", "knowledge_revision": 32}