{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 60, "knowledge_revision": 198, "git_revision": "", "hash": "3626df01922b24abc5cd043349fe0316", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/ios/Flutter/Generated.xcconfig", "revision_history": [{"198": ""}]}