{"is_source_file": true, "file_id": 15, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "384b5153543d25716fb386c0c9869d54", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/windows/runner/Runner.rc", "knowledge_revision": 10}