{"is_source_file": true, "file_id": 100, "git_revision": "0c2bda1c15a528303e5f8be32f11356a853b75a2", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "117105d2f2ee718eb485a07574a219b6", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist", "knowledge_revision": 101}