{"is_source_file": true, "file_id": 89, "git_revision": "0c2bda1c15a528303e5f8be32f11356a853b75a2", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "e6fde05dec64f9856d3978a4a5e4bf48", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Runner/Release.entitlements", "knowledge_revision": 91}