{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 78, "knowledge_revision": 213, "git_revision": "0c2bda1c15a528303e5f8be32f11356a853b75a2", "hash": "d36330778580798c0d9c5a5b71501a0f", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Runner/Configs/Release.xcconfig", "revision_history": [{"213": "0c2bda1c15a528303e5f8be32f11356a853b75a2"}]}