{"is_source_file": true, "file_id": 60, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "3626df01922b24abc5cd043349fe0316", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/ios/Flutter/Generated.xcconfig", "knowledge_revision": 61}