{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 79, "knowledge_revision": 214, "git_revision": "0c2bda1c15a528303e5f8be32f11356a853b75a2", "hash": "e19c2368cf97e5f3eaf8de37cff2b341", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Runner/Configs/Warnings.xcconfig", "revision_history": [{"214": "0c2bda1c15a528303e5f8be32f11356a853b75a2"}]}