{"is_source_file": true, "file_id": 93, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "7e5a93f3af0f5c409710a8d6c1308b6f", "format-version": 4, "code-base-name": "default", "filename": "fintrackpro/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "knowledge_revision": 93}